# {{ ansible_managed }}
[Unit]
Description=Daily OpenBao Raft snapshot backup

[Timer]
OnCalendar={{ openbao_backup_schedule }}
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
