# {{ ansible_managed }}
[Unit]
Description=OpenBao Raft snapshot backup
After=network-online.target openbao.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/openbao-backup.sh
User=root
