---
# Configure OpenBao secrets management server
- name: Configure OpenBao
  hosts: openbao
  gather_facts: true
  become: true
  roles:
    - hostname
    - users
    - packages
    - nfs_mounts
    - openbao
