---
# Base configuration for all homelab hosts

# Domain name for hostname configuration
domain_name: lan.quietlife.net

# Base users for all homelab hosts
# Override managed_users in group-specific files if different users are needed (e.g., linode_vps)
managed_users:
  - name: deploy
    shell: /bin/bash
    groups: ["sudo"]
    sudo_nopasswd: true
    ssh_pubkey_file: "keys/deploy.pub"
  - name: cwage
    shell: /bin/bash
    groups: ["sudo"]
    sudo_nopasswd: false
    password_hash: "$6$7fU9thowiE/0QSde$jpnJcpG0DVZpQ5OzOOgeuPg5OTBsiKsL0ats0geIZRoR5m0RLlnmGBrjnJtNk7Rfn4gm6wp8BBlHJCWZ6xFIT1"
    ssh_pubkey_files:
      - "inventories/keys/cwage-portaplotz.pub"
      - "inventories/keys/cwage-portaptty.pub"
