---
managed_users:
  - name: deploy
    shell: /bin/bash
    groups: ["sudo"]
    sudo_nopasswd: true
    ssh_pubkey_file: "keys/deploy.pub"
  - name: cwage
    shell: /bin/bash
    groups: ["sudo"]
    # Passwordless sudo is NOT desired for cwage; omit sudo_nopasswd or set false
    sudo_nopasswd: false
    ssh_pubkey_files:
      - "inventories/keys/cwage-portaplotz.pub"
      - "inventories/keys/cwage-portaptty.pub"
