{
  "FileEditWarning": "This file is managed by Ansible. Local changes will be overwritten.",
  "ConfigVersion": "1.9",
  "ServerName": {{ profile.server_name | default(profile.name) | to_json }},
  "ServerUrl": {{ profile.server_url | default('null') | to_json }},
  "ServerDescription": {{ profile.server_description | default('null') | to_json }},
  "WelcomeMessage": {{ profile.welcome_message | default('Welcome {0}, may you survive well and prosper') | to_json }},
  "Ip": null,
  "Port": {{ profile.ports.game | default(42420) }},
  "Upnp": {{ profile.upnp | default(false) | to_json }},
  "CompressPackets": {{ profile.compress_packets | default(true) | to_json }},
  "AdvertiseServer": {{ profile.advertise | default(false) | to_json }},
  "MaxClients": {{ profile.max_clients | default(16) }},
  "MaxClientsInQueue": {{ profile.max_clients_in_queue | default(0) }},
  "PassTimeWhenEmpty": {{ profile.pass_time_when_empty | default(false) | to_json }},
  "MasterserverUrl": "http://masterserver.vintagestory.at/api/v1/servers/",
  "ModDbUrl": "https://mods.vintagestory.at/",
  "ClientConnectionTimeout": {{ profile.client_connection_timeout | default(150) }},
  "EntityDebugMode": {{ profile.entity_debug_mode | default(false) | to_json }},
  "Password": {{ profile_password | to_json }},
  "MapSizeX": {{ profile.map_size_x | default(1024000) }},
  "MapSizeY": {{ profile.map_size_y | default(256) }},
  "MapSizeZ": {{ profile.map_size_z | default(1024000) }},
  "ServerLanguage": {{ profile.server_language | default('en') | to_json }},
  "MaxChunkRadius": {{ profile.max_chunk_radius | default(12) }},
  "TickTime": {{ profile.tick_time | default(33.333332) }},
  "SpawnCapPlayerScaling": {{ profile.spawn_cap_player_scaling | default(0.5) }},
  "BlockTickChunkRange": {{ profile.block_tick_chunk_range | default(5) }},
  "MaxMainThreadBlockTicks": {{ profile.max_main_thread_block_ticks | default(10000) }},
  "RandomBlockTicksPerChunk": {{ profile.random_block_ticks_per_chunk | default(16) }},
  "BlockTickInterval": {{ profile.block_tick_interval | default(300) }},
  "SkipEveryChunkRow": {{ profile.skip_every_chunk_row | default(0) }},
  "SkipEveryChunkRowWidth": {{ profile.skip_every_chunk_row_width | default(0) }},
  "Roles": [
    {
      "Code": "suvisitor",
      "PrivilegeLevel": -1,
      "Name": "Survival Visitor",
      "Description": "Can only visit this world and chat but not use/place/break anything",
      "DefaultSpawn": null,
      "ForcedSpawn": null,
      "Privileges": ["chat"],
      "RuntimePrivileges": [],
      "DefaultGameMode": 1,
      "Color": "Green",
      "LandClaimAllowance": 0,
      "LandClaimMinSize": { "X": 5, "Y": 5, "Z": 5 },
      "LandClaimMaxAreas": 3,
      "AutoGrant": false
    },
    {
      "Code": "crvisitor",
      "PrivilegeLevel": -1,
      "Name": "Creative Visitor",
      "Description": "Can only visit this world, chat and fly but not use/place/break anything",
      "DefaultSpawn": null,
      "ForcedSpawn": null,
      "Privileges": ["chat"],
      "RuntimePrivileges": [],
      "DefaultGameMode": 2,
      "Color": "DarkGray",
      "LandClaimAllowance": 0,
      "LandClaimMinSize": { "X": 5, "Y": 5, "Z": 5 },
      "LandClaimMaxAreas": 3,
      "AutoGrant": false
    },
    {
      "Code": "limitedsuplayer",
      "PrivilegeLevel": -1,
      "Name": "Limited Survival Player",
      "Description": "Can use/place/break blocks only in permitted areas (priv level -1), create/manage player groups and chat",
      "DefaultSpawn": null,
      "ForcedSpawn": null,
      "Privileges": ["controlplayergroups", "manageplayergroups", "chat", "build", "useblock", "attackcreatures", "attackplayers", "selfkill"],
      "RuntimePrivileges": [],
      "DefaultGameMode": 1,
      "Color": "White",
      "LandClaimAllowance": 0,
      "LandClaimMinSize": { "X": 5, "Y": 5, "Z": 5 },
      "LandClaimMaxAreas": 3,
      "AutoGrant": false
    },
    {
      "Code": "limitedcrplayer",
      "PrivilegeLevel": -1,
      "Name": "Limited Creative Player",
      "Description": "Can use/place/break blocks in only in permitted areas (priv level -1), create/manage player groups, chat, fly and set his own game mode (= allows fly and change of move speed)",
      "DefaultSpawn": null,
      "ForcedSpawn": null,
      "Privileges": ["controlplayergroups", "manageplayergroups", "chat", "build", "useblock", "gamemode", "freemove", "attackcreatures", "attackplayers", "selfkill"],
      "RuntimePrivileges": [],
      "DefaultGameMode": 2,
      "Color": "LightGreen",
      "LandClaimAllowance": 0,
      "LandClaimMinSize": { "X": 5, "Y": 5, "Z": 5 },
      "LandClaimMaxAreas": 3,
      "AutoGrant": false
    },
    {
      "Code": "suplayer",
      "PrivilegeLevel": 0,
      "Name": "Survival Player",
      "Description": "Can use/place/break blocks in unprotected areas (priv level 0), create/manage player groups and chat. Can claim an area of up to 8 chunks.",
      "DefaultSpawn": null,
      "ForcedSpawn": null,
      "Privileges": ["controlplayergroups", "manageplayergroups", "chat", "areamodify", "build", "useblock", "attackcreatures", "attackplayers", "selfkill"],
      "RuntimePrivileges": [],
      "DefaultGameMode": 1,
      "Color": "White",
      "LandClaimAllowance": 262144,
      "LandClaimMinSize": { "X": 5, "Y": 5, "Z": 5 },
      "LandClaimMaxAreas": 3,
      "AutoGrant": false
    },
    {
      "Code": "crplayer",
      "PrivilegeLevel": 100,
      "Name": "Creative Player",
      "Description": "Can use/place/break blocks in all areas (priv level 100), create/manage player groups, chat, fly and set his own game mode (= allows fly and change of move speed). Can claim an area of up to 40 chunks.",
      "DefaultSpawn": null,
      "ForcedSpawn": null,
      "Privileges": ["controlplayergroups", "manageplayergroups", "chat", "areamodify", "build", "useblock", "gamemode", "freemove", "attackcreatures", "attackplayers", "selfkill"],
      "RuntimePrivileges": [],
      "DefaultGameMode": 2,
      "Color": "LightGreen",
      "LandClaimAllowance": 1310720,
      "LandClaimMinSize": { "X": 5, "Y": 5, "Z": 5 },
      "LandClaimMaxAreas": 6,
      "AutoGrant": false
    },
    {
      "Code": "sumod",
      "PrivilegeLevel": 200,
      "Name": "Survival Moderator",
      "Description": "Can use/place/break blocks everywhere (priv level 200), create/manage own/other player groups, chat, kick/ban players and do serverwide announcements. Can claim an area of up to 4 chunks.",
      "DefaultSpawn": null,
      "ForcedSpawn": null,
      "Privileges": ["controlplayergroups", "manageplayergroups", "manageotherplayergroups", "chat", "areamodify", "build", "useblock", "buildblockseverywhere", "useblockseverywhere", "kick", "ban", "announce", "readlists", "attackcreatures", "attackplayers", "selfkill"],
      "RuntimePrivileges": [],
      "DefaultGameMode": 1,
      "Color": "Cyan",
      "LandClaimAllowance": 1310720,
      "LandClaimMinSize": { "X": 5, "Y": 5, "Z": 5 },
      "LandClaimMaxAreas": 60,
      "AutoGrant": false
    },
    {
      "Code": "crmod",
      "PrivilegeLevel": 500,
      "Name": "Creative Moderator",
      "Description": "Can use/place/break blocks everywhere (priv level 500), create/manage own/other player groups, chat, kick/ban players, fly and set his own or other players game modes (= allows fly and change of move speed). Can claim an area of up to 40 chunks.",
      "DefaultSpawn": null,
      "ForcedSpawn": null,
      "Privileges": ["controlplayergroups", "manageplayergroups", "manageotherplayergroups", "chat", "areamodify", "build", "useblock", "buildblockseverywhere", "useblockseverywhere", "kick", "ban", "gamemode", "freemove", "commandplayer", "announce", "readlists", "attackcreatures", "attackplayers", "selfkill"],
      "RuntimePrivileges": [],
      "DefaultGameMode": 2,
      "Color": "Cyan",
      "LandClaimAllowance": 1310720,
      "LandClaimMinSize": { "X": 5, "Y": 5, "Z": 5 },
      "LandClaimMaxAreas": 60,
      "AutoGrant": false
    },
    {
      "Code": "admin",
      "PrivilegeLevel": 99999,
      "Name": "Admin",
      "Description": "Has all privileges, including giving other players admin status.",
      "DefaultSpawn": null,
      "ForcedSpawn": null,
      "Privileges": ["build", "useblock", "buildblockseverywhere", "useblockseverywhere", "attackplayers", "attackcreatures", "freemove", "gamemode", "pickingrange", "chat", "kick", "ban", "whitelist", "setwelcome", "announce", "readlists", "give", "areamodify", "setspawn", "controlserver", "tp", "time", "grantrevoke", "root", "commandplayer", "controlplayergroups", "manageplayergroups", "selfkill", "manageotherplayergroups"],
      "RuntimePrivileges": [],
      "DefaultGameMode": 1,
      "Color": "LightBlue",
      "LandClaimAllowance": 2147483647,
      "LandClaimMinSize": { "X": 5, "Y": 5, "Z": 5 },
      "LandClaimMaxAreas": 99999,
      "AutoGrant": true
    }
  ],
  "DefaultRoleCode": {{ profile.default_role | default('suplayer') | to_json }},
  "ModPaths": [
    "Mods",
    "data/{{ lgsm_script }}/Mods"
  ],
  "AntiAbuse": {{ profile.anti_abuse | default(0) }},
  "WorldConfig": {
    "Seed": {{ profile.world_seed | default('null') | to_json }},
    "SaveFileLocation": "data/{{ lgsm_script }}/Saves/{{ profile.world_save_name | default('default') }}.vcdbs",
    "WorldName": {{ profile.world_name | default(profile.name) | to_json }},
    "AllowCreativeMode": {{ profile.allow_creative_mode | default(true) | to_json }},
    "PlayStyle": {{ profile.play_style | default('surviveandbuild') | to_json }},
    "PlayStyleLangCode": {{ profile.play_style_lang_code | default(profile.play_style | default('surviveandbuild') + '-bands') | to_json }},
    "WorldType": {{ profile.world_type | default('standard') | to_json }},
{% if profile.world_config is defined %}
    "WorldConfiguration": {
      "gameMode": {{ profile.world_config.gameMode | default('survival') | to_json }},
      "playerlives": {{ profile.world_config.playerlives | default('-1') | to_json }},
      "startingClimate": {{ profile.world_config.startingClimate | default('temperate') | to_json }},
      "spawnRadius": {{ profile.world_config.spawnRadius | default('50') | to_json }},
      "graceTimer": {{ profile.world_config.graceTimer | default('0') | to_json }},
      "deathPunishment": {{ profile.world_config.deathPunishment | default('drop') | to_json }},
      "droppedItemsTimer": {{ profile.world_config.droppedItemsTimer | default('600') | to_json }},
      "seasons": {{ profile.world_config.seasons | default('enabled') | to_json }},
      "daysPerMonth": {{ profile.world_config.daysPerMonth | default('9') | to_json }},
      "harshWinters": {{ profile.world_config.harshWinters | default(true) | to_json }},
      "blockGravity": {{ profile.world_config.blockGravity | default('sandgravel') | to_json }},
      "caveIns": {{ profile.world_config.caveIns | default('off') | to_json }},
      "allowFallingBlocks": {{ profile.world_config.allowFallingBlocks | default(true) | to_json }},
      "allowFireSpread": {{ profile.world_config.allowFireSpread | default(true) | to_json }},
      "lightningFires": {{ profile.world_config.lightningFires | default(false) | to_json }},
      "allowUndergroundFarming": {{ profile.world_config.allowUndergroundFarming | default(false) | to_json }},
      "noLiquidSourceTransport": {{ profile.world_config.noLiquidSourceTransport | default(false) | to_json }},
      "playerHealthPoints": {{ profile.world_config.playerHealthPoints | default('15') | to_json }},
      "playerHealthRegenSpeed": {{ profile.world_config.playerHealthRegenSpeed | default('1') | to_json }},
      "playerHungerSpeed": {{ profile.world_config.playerHungerSpeed | default('1') | to_json }},
      "lungCapacity": {{ profile.world_config.lungCapacity | default('40000') | to_json }},
      "bodyTemperatureResistance": {{ profile.world_config.bodyTemperatureResistance | default('0') | to_json }},
      "playerMoveSpeed": {{ profile.world_config.playerMoveSpeed | default('1.5') | to_json }},
      "creatureHostility": {{ profile.world_config.creatureHostility | default('aggressive') | to_json }},
      "creatureStrength": {{ profile.world_config.creatureStrength | default('1') | to_json }},
      "creatureSwimSpeed": {{ profile.world_config.creatureSwimSpeed | default('2') | to_json }},
      "foodSpoilSpeed": {{ profile.world_config.foodSpoilSpeed | default('1') | to_json }},
      "saplingGrowthRate": {{ profile.world_config.saplingGrowthRate | default('1') | to_json }},
      "toolDurability": {{ profile.world_config.toolDurability | default('1') | to_json }},
      "toolMiningSpeed": {{ profile.world_config.toolMiningSpeed | default('1') | to_json }},
      "propickNodeSearchRadius": {{ profile.world_config.propickNodeSearchRadius | default('6') | to_json }},
      "microblockChiseling": {{ profile.world_config.microblockChiseling | default('stonewood') | to_json }},
      "allowCoordinateHud": {{ profile.world_config.allowCoordinateHud | default(true) | to_json }},
      "allowMap": {{ profile.world_config.allowMap | default(true) | to_json }},
      "colorAccurateWorldmap": {{ profile.world_config.colorAccurateWorldmap | default(true) | to_json }},
      "loreContent": {{ profile.world_config.loreContent | default(true) | to_json }},
      "clutterObtainable": {{ profile.world_config.clutterObtainable | default('yes') | to_json }},
      "temporalStability": {{ profile.world_config.temporalStability | default(true) | to_json }},
      "temporalStorms": {{ profile.world_config.temporalStorms | default('sometimes') | to_json }},
      "tempstormDurationMul": {{ profile.world_config.tempstormDurationMul | default('1') | to_json }},
      "temporalRifts": {{ profile.world_config.temporalRifts | default('visible') | to_json }},
      "temporalGearRespawnUses": {{ profile.world_config.temporalGearRespawnUses | default('20') | to_json }},
      "temporalStormSleeping": {{ profile.world_config.temporalStormSleeping | default('0') | to_json }},
      "worldClimate": {{ profile.world_config.worldClimate | default('realistic') | to_json }},
      "landcover": {{ profile.world_config.landcover | default('1') | to_json }},
      "oceanscale": {{ profile.world_config.oceanscale | default('1') | to_json }},
      "upheavelCommonness": {{ profile.world_config.upheavelCommonness | default('0.3') | to_json }},
      "geologicActivity": {{ profile.world_config.geologicActivity | default('0.05') | to_json }},
      "landformScale": {{ profile.world_config.landformScale | default('1') | to_json }},
      "worldWidth": {{ profile.world_config.worldWidth | default('1024000') | to_json }},
      "worldLength": {{ profile.world_config.worldLength | default('1024000') | to_json }},
      "worldEdge": {{ profile.world_config.worldEdge | default('traversable') | to_json }},
      "polarEquatorDistance": {{ profile.world_config.polarEquatorDistance | default('100000') | to_json }},
      "storyStructuresDistScaling": {{ profile.world_config.storyStructuresDistScaling | default('1') | to_json }},
      "globalTemperature": {{ profile.world_config.globalTemperature | default('1') | to_json }},
      "globalPrecipitation": {{ profile.world_config.globalPrecipitation | default('1') | to_json }},
      "globalForestation": {{ profile.world_config.globalForestation | default('0') | to_json }},
      "globalDepositSpawnRate": {{ profile.world_config.globalDepositSpawnRate | default('1') | to_json }},
      "surfaceCopperDeposits": {{ profile.world_config.surfaceCopperDeposits | default('0.12') | to_json }},
      "surfaceTinDeposits": {{ profile.world_config.surfaceTinDeposits | default('0.007') | to_json }},
      "snowAccum": {{ profile.world_config.snowAccum | default(true) | to_json }},
      "allowLandClaiming": {{ profile.world_config.allowLandClaiming | default(true) | to_json }},
      "classExclusiveRecipes": {{ profile.world_config.classExclusiveRecipes | default(true) | to_json }},
      "auctionHouse": {{ profile.world_config.auctionHouse | default(true) | to_json }}
    },
{% else %}
    "WorldConfiguration": null,
{% endif %}
    "MapSizeY": null,
    "CreatedByPlayerName": null,
    "DisabledMods": null,
    "RepairMode": false
  },
  "NextPlayerGroupUid": 10,
  "GroupChatHistorySize": {{ profile.group_chat_history_size | default(20) }},
  "MaxOwnedGroupChannelsPerUser": {{ profile.max_owned_group_channels | default(10) }},
  "OnlyWhitelisted": {{ profile.whitelist_only | default(false) | to_json }},
  "WhitelistMode": {{ profile.whitelist_mode | default(1) }},
  "VerifyPlayerAuth": {{ profile.verify_player_auth | default(true) | to_json }},
  "DefaultSpawn": null,
  "AllowPvP": {{ profile.allow_pvp | default(true) | to_json }},
  "AllowFireSpread": {{ profile.allow_fire_spread | default(true) | to_json }},
  "AllowFallingBlocks": {{ profile.allow_falling_blocks | default(true) | to_json }},
  "HostedMode": false,
  "HostedModeAllowMods": false,
  "VhIdentifier": null,
  "StartupCommands": null,
  "RepairMode": false,
  "AnalyzeMode": false,
  "CorruptionProtection": {{ profile.corruption_protection | default(true) | to_json }},
  "RegenerateCorruptChunks": {{ profile.regenerate_corrupt_chunks | default(false) | to_json }},
  "ChatRateLimitMs": {{ profile.chat_rate_limit_ms | default(1000) }},
  "DieBelowDiskSpaceMb": {{ profile.die_below_disk_space_mb | default(400) }},
  "ModIdBlackList": null,
  "ModIdWhiteList": null,
  "ServerIdentifier": null,
  "LogBlockBreakPlace": {{ profile.log_block_break_place | default(false) | to_json }},
  "LogFileSplitAfterLine": {{ profile.log_file_split_after_line | default(500000) }},
  "DieAboveErrorCount": {{ profile.die_above_error_count | default(100000) }},
  "LoginFloodProtection": {{ profile.login_flood_protection | default(false) | to_json }},
  "TemporaryIpBlockList": {{ profile.temporary_ip_block_list | default(false) | to_json }},
  "DisableModSafetyCheck": {{ profile.disable_mod_safety_check | default(false) | to_json }},
  "DieAboveMemoryUsageMb": {{ profile.die_above_memory_usage_mb | default(50000) }}
}
